<template lang="pug">
div.grids(:style="$store.state.grid.style")
  TopBar
  // TopNav
  Page
</template>
// <!-- grid -->
  // SideNav
  // HomeNav
  // a {{$store.state.active.now}}
<script>
import TopBar from './topbar.vue'
import TopNav from './topnav.vue'
import SideNav from './sidenav.vue'
import HomeNav from './homenav.vue'
import Page from './page.vue'
export default {
  name: 'Grid',
  components: {
    TopBar,
    TopNav,
    SideNav,
    HomeNav,
    Page
  },
  methods: {},
}
</script>

<style scoped lang="stylus">
a
  grid-row 20
  grid-column 1 / span 20
  text-align center
  font-size 300%
</style>