<template lang="pug">
div.grid-beo-private-collection(:style="$store.state.grid.private_collection.style")
</template>

<script>
export default {
  name: 'PrivateCollection',
  components: {},
  mounted(){
    console.log(this.$store.state)
  },
  methods: {
    over(event){
      let domitem = document.getElementById(event.target.id)
      console.log(domitem)
      domitem.style.backgroundColor = 'black'
      domitem.style.color = 'white'
    },
    leave(event){
      let domitem = document.getElementById(event.target.id)
      console.log(domitem)
      domitem.style.backgroundColor = 'white'
      domitem.style.color = 'black'
    },
  }
}
</script>

<style scoped lang="stylus">

</style>