<template lang="pug">
<!-- topbar -->
div.grid-topbar(:style="$store.state.grid.topbar.style")
  a(
  v-for="txt in $store.state.grid.topbar.content"
  :style="$store.state.grid.topbar.content_style"
  :id="txt.toLowerCase().replace(/ /g,`_`)"
  @mouseover="$store.commit('over', $event)"
  @mouseleave="$store.commit('leave', $event)"
  @click="$store.commit('clicked', $event)"
  ) {{txt}}
</template>

<script>
export default {
  name: 'TopBar',
  components: {},
  methods: {},
}
</script>

<style scoped lang="stylus">
</style>